<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Closure Example</title>
</head>
<body>
<div id="display"></div>
<!-- xxx
	<form method = "GET" action="/insertCoin">
		
		<input type="submit" value="Submit" />
	</form>
	 -->
	
	
	<script src="C:\Users\nicola\Desktop\jquery-1.11.1.min.js"></script>
<script>
function timer() {
var local
	
	<script type="text/javascript">
	
	function timer() {
		var local = 1;
		window.setInterval(
			function() {
				/* alert($('#display'));		 */		
				$('#display').append('<div>At ' + new Date() + ' local=' + local + '</div>');
				local++;
			},
			2000);
		}
		timer();
	</script>
</body>
</html>










